<h1>Log In</h1>
<p>
    To view ResearchMatch's listings (or to post your own listing), please log in below, or <%= link_to "sign up", :controller => :users, :action => :new %> for a free account. It'll only take a minute, and will grant you access to all of those cool research positions!
</p>
<br />
<div id="login_box" class="box_shadow">
    <br />


    <% form_tag session_path do -%>
    <p><%= label_tag 'email', "E-mail Address" %><br />
    <%= text_field_tag 'email', @email %></p>

    <p><%= label_tag 'password' %><br/>
    <%= password_field_tag 'password', nil %></p>
    <br />
    <p>
        <%= check_box_tag 'remember_me', '1', @remember_me %>
        <%= label_tag 'remember_me', 'Remember me' %>
    </p>
    <br />
    <p><%= submit_tag 'Log in' %></p>
    <br />
    <% end -%>
</div>
