<p>
  Dear <b><%= @job.faculties.collect(&:name).join(', ') %></b>,
</p>

<p>
A new application for your listing, <%= @job.title %>, has been received.<br/>
You may contact the applicant at the email address provided below.
</p>

<%- unless @applic.message.blank? -%>
<p>
  <h3>Message</h3>
  <%= simple_format @applic.message %>
</p>
<%- end -%>

<p>
  <h3>Applicant Info</h3>
  <%= render 'users/applic_info', :format => :html, :user => @applic.user %>
</p>

<p>
You can view this application, and the applicant's most recent information, at
  <%= link_to applic_url(@applic), applic_url(@applic) %>
<p>

<p>
Regards,<br/><br/>
<b>UC Berkeley ResearchMatch</b>
<br/>
<%= root_url %>
</p>

<p>
If you believe you have received this e-mail in error, please disregard this notice.<br/>
</p>

