<%= form_for(@attrib) do |f| %>
  <% if @attrib.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attrib.errors.count, "error") %> prohibited this attrib from being saved:</h2>

      <ul>
      <% @attrib.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
