<h1>Listing orgs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orgs.each do |org| %>
  <tr>
    <td><%= link_to org.name, org %></td>
    <td><%= org.desc %></td>
    <% if @current_user.present? && (@current_user.admin? || org.members.include?(@current_user))%>
      <td><%= link_to 'Edit', edit_org_path(org) %></td>
    <% end %>
    <% if @current_user.present? && @current_user.admin?%>
      <td><%= button_to 'Destroy', org, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if @current_user.present? && @current_user.admin? %>
  <%= link_to 'New Org', new_org_path %>
<% end %>