<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @org.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @org.desc %>
</p>

<p>
  <b>Members:</b>
  <ul>
     <% @org.members.each do |member| %>
     <li>
       <%= link_to member.name, :controller => :users, :action => :show, :id => member.id %>
       <%= !@current_user.nil? && member.name == @current_user.name ? " (you)" : "" %>
     </li>    
     <% end %>
   </ul>
</p>

<% if @current_user.present? && (@current_user.admin? || @org.members.include?(@current_user))%><%= link_to 'Edit', edit_org_path(@org) %> | <% end %>
<%= link_to 'Back', orgs_path %>
