<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @org.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @org.desc %>
</p>


<%= link_to 'Edit', edit_org_path(@org) %> |
<%= link_to 'Back', orgs_path %>
