<p id="notice"><%= notice %></p>

<h2><%= @org.name %></h2>

<p>
  <%= @org.desc %>
</p>

<p>
  <b>Members:</b>
  <ul>
     <% @org.members.each do |member| %>
     <li>
       <%= link_to member.name, :controller => :users, :action => :show, :id => member.id %>
       <%= !@current_user.nil? && member.name == @current_user.name ? " (you)" : "" %>
     </li>    
     <% end %>
   </ul>
</p>

<div class="row">
  <div class="large-8 small-12 columns">
    <%= render partial: "jobs/job", collection: @jobs %>
  </div>
</div>

<% if @current_user.present? && (@current_user.admin? || @org.members.include?(@current_user))%><%= link_to 'Edit', edit_org_path(@org) %> | <% end %>
<%= link_to 'Back', orgs_path %>
