<h1>Admin Panel</h1>
<div class="admin">
  <h2>Modify User Role</h2>
  <%= form_tag(admin_path, :method => "get") do %>
    <%= label_tag :user_role, "User" %>
    <span class="ui-widget">
      <%= select_tag :user_role, options_for_select([["Select User", nil]] + @non_admins) %>
    </span>
    <%= label_tag :user_role_new, "Role" %>
    <%= select_tag :user_role_new, options_for_select([["Select Role", nil]] + @roles) %>
    <%= submit_tag "Update" %>
  <% end %>
  <br/>
  <h2>Upload User CSV</h2>
  Upload a CSV to update existing users (identified by email) or to add a list of people who are authorized to use ResearchMatch. <br />
  The CSV should have the following columns: name, email, user_role. The header row must be: "name,email,user_role"
  <%= form_tag(admin_upload_path, :multipart => true) do %>
    <%= file_field_tag 'user_csv', :accept => 'text/csv' %>
    <%= submit_tag 'Upload' %>
  <% end %>
</div>
