<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <table class="job_clear_table">
    <tr>
    <td class="job_clear_table_label"><%= f.label :title, 'Listing title' %><span class="required_field">*</span></td>
    <td class="job_clear_table_field"><%= f.text_field :title, :class => 'extrawide' %></td>
    </tr>
    <tr>
    <td class="job_clear_table_label"><%= f.label :department %><span class="required_field">*</span></td>
    <td class="job_clear_table_field"><%= f.select :department_id, Department.all.collect {|c| [c.abbrev, c.id]} %></td>
    </tr>
    <tr>
    <td class="job_clear_table_label"><%= f.label :faculty_sponsor, 'Faculty sponsor' %><span class="required_field">*</span></td>
    <td class="job_clear_table_field"><%= select_tag :faculty_sponsor, options_from_collection_for_select(Faculty.all, :id, :name_with_dept) %></td>
    </tr>      
    <tr>
    <td class="job_clear_table_label"><%= f.label :desc, 'Listing description' %><span class="required_field">*</span></td>
    <td class="job_clear_table_field"><%= f.text_area :desc, {:rows=>12, :class => "extrawide" }%></td>
    </tr>

    <%-# ------ ATTRIBS -------- %>
    <% Attrib.get_attrib_names.each do |attrib_name| %>
    <tr>
		<td class="job_clear_table_label"><%= label_tag attrib_name.pluralize %></td>
		<td class="job_clear_table_field">
          <%= text_field_tag 'attrib_'+attrib_name, params['attrib_' + attrib_name], :class => 'extrawide', :placeholder => 'The job\'s ' + attrib_name.pluralize + ', separated by commas' %>
    </td>
	  </tr>
	  <% end %>
   
    <tr>
        <td class="job_clear_table_label">
            <%= f.label :exp_date, 'Expiration date?' %>
            <%= check_box_tag 'job[exp_date]', '', false, :onclick => "$('#expdate').toggle()" %>
        </td>
        <td class="job_clear_table_field">
            <div id="expdate">
            <%= f.datetime_select :exp_date, {:default => 1.month.from_now, :start_year => Date.today.year} %>
            </span>
        </td>
    </tr>
    <tr>
        <td class="job_clear_table_label"><%= f.label :num_positions, 'Number of available positions' %> <br /> (enter 0 to leave unspecified)</td>
        <td class="job_clear_table_field"><%= f.text_field :num_positions, {:value=> 0, :size=> 5} %></td>
    </tr>
    <tr>
        <td class="job_clear_table_label"></td>
        <td class="job_clear_table_field">
            <br />
            <% if controller.action_name.downcase == 'edit' %>
              <%= f.submit('Update') %>
            <% else %>
              <%= f.submit('Post!') %>
            <% end %>&nbsp;&nbsp;&nbsp;
            <input type="button" value="Cancel" onclick="location.href='<%= jobs_path %>'" />
        </td>
    </tr>
  </table>
<% end %>
<br />
