= javascript_include_tag 'autocomplete_setup'
= form_for(@job) do |f|
  - if @job.errors.any?
    #error_explanation
      %h2
        %span.urgent
          = pluralize(@job.errors.count, "error")
          prevented this listing from being submitted:
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg
  %dl.dl-horizontal
    %dt
      = f.label :title, 'Title *'
    %dd
      = f.text_field :title, class: "form-control"
    %dt
      = f.label :department, 'Department *'
    %dd
      = f.select :department_id, Department.all.collect {|c| [c.name, c.id]}
    %dt
      = f.label :project_type, 'Project Type *'
    %dd
      = f.select :project_type, @job.get_all_project_strings
    %dt
      = f.label :faculty_sponsor, 'Faculty sponsor'
    %dd
      = select_tag :faculty_id, '<option value="-1">Select Sponsor</option>'.html_safe + options_from_collection_for_select(@faculty, :id, :name, @faculty_id || (@job.faculties.first.nil? ? 0 : @job.faculties.first.id))
    %dt
      = f.label :desc, 'Description *'
    %dd
      = f.text_area :desc, { rows: 12, class: "form-control" }
    %dt
      = f.label :category, 'Categories'
    %dd
      = text_field :category, :name, :value => @job.category_list_of_job(true), :class => 'form-control', :id => 'categories-input', :placeholder => "(e.g. signal processing, environmental engineering)"
    %dt
      = f.label :course, 'Relevant courses'
    %dd
      = text_field :course, :name, :value => @job.course_list_of_job(true), :class => 'form-control', :id => 'courses-input', :placeholder => "(e.g. CS61A, BioE140L)"
    %dt
      = f.label :proglang, 'Revelant skills'
    %dd
      = text_field :proglang, :name, :value => @job.proglang_list_of_job(true), :class => 'form-control', :id => 'proglangs-input', :placeholder => "(e.g. Python, machine shop)"
    %dt
      = f.label :earliest_start_date, 'Earliest start date *'
    %dd
      = f.text_field :earliest_start_date, :class => 'datepicker form-control', value: @job.earliest_start_date.present? ? @job.earliest_start_date.strftime("%Y-%m-%d") : nil
    %dt
      = f.label :latest_start_date, 'Latest start date *'
    %dd
      = f.text_field :latest_start_date, :class => 'datepicker form-control', value: @job.latest_start_date.present? ? @job.latest_start_date.strftime("%Y-%m-%d") : nil
    %dt
      = f.label :end_date, 'End date *'
    %dd
      = f.text_field :end_date, :class => 'datepicker form-control', value: @job.end_date.present? ? @job.end_date.strftime("%Y-%m-%d") : nil
    %dt
      = f.label :compensation, 'Form of Compensation'
    %dd
      = f.select :compensation, options_for_select( Job::Compensation::All, @job.compensation )
    %dt
      = f.label :status, 'Status'
    %dd
      = f.select :status, options_for_select( Job::Status::All, @job.status )

  .row
    %h2.center Ask a Potential Researcher
    %p.center 
      Questions 
      %b required 
      to be answered by applicants
    %dl.dl-horizontal
      %dt
        = f.label :question_1, 'Question 1'
      %dd
        = f.text_field :question_1, class: "form-control", placeholder: "(e.g. why are you interested in this project?)"
      %dt
        = f.label :question_2, 'Question 2'
      %dd
        = f.text_field :question_2, class: "form-control", placeholder: "(e.g. what do you want to get out of this experience?)"
      %dt
        = f.label :question_3, 'Question 3'
      %dd
        = f.text_field :question_3, class: "form-control"
  .row
    - if ['new', 'create'].include?(controller.action_name.downcase)
      = f.submit 'Post', class: "btn btn-primary"
    - else
      = f.submit 'Update', class: "btn btn-info"
    = link_to "Cancel", jobs_path, class: "btn btn-danger"
