<p>
After submitting your listing, the faculty sponsor you've selected will need to
confirm the listing before it is displayed on ResearchMatch.
</p>
<p>
  Fields labeled with an asterisk are required.
</p>
<br />
<% form_for(@job) do |f| %>

  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><span class="urgent"><%= pluralize(@job.errors.count, "error") %> prevented this listing from being submitted:</span></h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <br />
  <% end %>
 
  <table class="job_clear_table">
	  <tr>
		<td class="job_clear_table_label"><%= f.label :title, 'Listing title' %><span class="required_field">*</span></td>
		<td class="job_clear_table_field"><%= f.text_field :title, :class => 'extrawide' %></td>
	  </tr>
      <tr>
		<td class="job_clear_table_label"><%= f.label :department %><span class="required_field">*</span></td>
		<td class="job_clear_table_field"><%= f.select :department_id, Department.all.collect {|c| [c.name, c.id]} %></td>
	  </tr>
	  <tr>
		<td class="job_clear_table_label"><%= f.label :faculty_sponsor, 'Faculty sponsor' %><span class="required_field">*</span></td>
		<td class="job_clear_table_field">
            <%= select_tag :faculty_id,
                '<option value="-1">Select Sponsor</option>'.html_safe + options_from_collection_for_select(Faculty.all,
                    :id,
                    :name,
                    @faculty_id || (@job.faculties.first.nil? ? 0 : @job.faculties.first.id)
                )
             %>
        </td>
	  </tr>
	  <tr>
		<td class="job_clear_table_label"><%= f.label :desc, 'Listing description' %><span class="required_field">*</span></td>
		<td class="job_clear_table_field"><%= f.text_area :desc, {:rows=>12, :class => "extrawide" }%></td>
	  </tr>
	  <tr>
		<td class="job_clear_table_label"><%= f.label :category, 'Categories' %></td>
		<td class="job_clear_table_field">
            <%= text_field :category, :name, :value => @job.category_list_of_job(true), :class => 'extrawide', 
                            :placeholder => "(e.g. signal processing, computer vision)"  %>
        </td>
	  </tr>
	  <tr>
		<div class="ui-widget">
		    <td class="job_clear_table_label"><%= f.label :course, 'Required courses' %></td>
		    <td class="job_clear_table_field">
                <%= text_field :course, :name, :value => @job.course_list_of_job(true), :class => 'extrawide', 
                                :placeholder => "(e.g. CS61A, EE123)"  %>
            </td>
		</div>
	  </tr>
	  <tr>
		<td class="job_clear_table_label"><%= f.label :proglang, 'Desired programming language(s)' %></td>
		<td class="job_clear_table_field">
            <%= text_field :proglang, :name, :value => @job.proglang_list_of_job(true), :class => 'extrawide', 
                           :placeholder => "(e.g. Python, Java)" %>
        </td>
	  </tr>
    <tr>
        <td class="job_clear_table_label">
            <%= f.label :earliest_start_date, 'Earliest start date' %><span class="required_field">*</span>
        </td>
        <td class="job_clear_table_field">
            <%= f.date_select :earliest_start_date %>
        </td>
    </tr>
    <tr>
        <td class="job_clear_table_label">
            <%= f.label :latest_start_date, raw('Latest start date<br />(work must start by)') %><span class="required_field">*</span>
        </td>
        <td class="job_clear_table_field">
            <%= f.date_select :latest_start_date %>
        </td>
    </tr>    
    <tr>
        <td class="job_clear_table_label">
            <%= f.label :end_date, 'End date' %><span class="required_field">*</span>
        </td>
        <td class="job_clear_table_field">
            <div id="enddate">
            <% was_open_ended = @job.open_ended_end_date %>
            <%= radio_button_tag 'open_ended_end_date', true, was_open_ended, :onclick => "$('#enddate select').attr('disabled', true); $('#enddate select').val('');" %>
            <%= label_tag 'open_ended_end_date_true', 'Open-ended', :value => true, :onclick => "$('#enddate select').attr('disabled', true);" %>&nbsp;
            <%= radio_button_tag 'open_ended_end_date', false, ! was_open_ended, :onclick => "$('#enddate select').attr('disabled', false);" %>&nbsp;
            <%= label_tag 'open_ended_end_date_false', 'Specified as:', :value => true, :onclick => "$('#enddate select').attr('disabled', true);" %>&nbsp;

            <% date_select_options = {} %>
            <% date_select_options.update({:default => 1.month.from_now, :start_year => Date.today.year}) if
                ! was_open_ended %>

            <%= f.date_select :end_date, date_select_options, { :disabled => was_open_ended } %>
            </div>
        </td>
    </tr>
    <tr>
    <td class="job_clear_table_label"><%= f.label :compensation, 'Form of Compensation' %></td>
    <td class="job_clear_table_field">
            <%= f.select :compensation, options_for_select( Job::Compensation::All, @job.compensation ) %>
    </td>
    </tr>
	  <tr>
		<td class="job_clear_table_label"><%= f.label :num_positions, 'Number of available positions' %> <br />(enter 0 to leave unspecified)</td>
		<td class="job_clear_table_field"><%= f.text_field :num_positions, {:size=> 5} %></td>
	  </tr>
    <tr>
        <td class="job_clear_table_label"><%= f.label :open, "Is this position currently open?" %></td>
        <td class="job_clear_table_field">
            <%= radio_button_tag :open, 'true', @job.open %>
            <%= label_tag(:is_open, "Yes") %>
            <%= radio_button_tag :open, 'false', !@job.open %>
            <%= label_tag(:is_closed, "No") %>
        </td>
    </tr>
	  <tr>
		<td class="job_clear_table_label"></td>
		<td class="job_clear_table_field"><br />
	    <% if ['new', 'create'].include?(controller.action_name.downcase) %>
              <%= f.submit('Post') %>
            <% else %>
              <%= f.submit('Update') %>
            <% end %>&nbsp;&nbsp;&nbsp;
      <input type="button" value="Cancel" onclick="location.href='<%= jobs_path %>'" /></td>
	  </tr>
  </table>
<% end %>
