- actions = job.actions(@current_user)
%div{:class => "job_#{cycle('even', 'odd')}", :id => "job#{job.id}"}
  .job_table_left
    .job_title
      = link_to job.title, job_path(job)
      - if job.users.include?(@current_user)
        %span.glyphicon.glyphicon-eye-open{:title => "You are watching this job"}
    - job_tags = job.tag_list
    %div
      .job_desc
        %span{:id => "job_desc_#{job.id}"}
          = truncate job.desc, :length => 200, :omission => '...'
        %span{:id => "job_#{job.id}", :style => "display:none;overflow:hidden;height0px;"}
          = job.desc
        .posted
          Last updated at: #{job.updated_at.strftime("%m/%d/%Y")}
      - if job_tags.present?
        = render partial: 'jobs/tag', collection: job.tag_list
%hr