<div id="job<%= job.id %>" class="job_<%= cycle('even', 'odd') %>">
	<div class="job_padding_wrapper">
		<table class="job_table">
			<tr>
				<td class="job_table_left">
					<div class="job_title"><a href="<%= job_path(job) %>"><%= job.title %></a></span> (<%= (job.faculties != []) ? job.faculties.first.name : "no faculty sponsor" %>)</div>
					<div class="job_desc"><strong><%=h job.category_list_of_job %> </strong><%= truncate(job.desc, 100, "...") %></div>
				</td>
				<td class="job_credit">
					<div class="job_attr"><%= job.paid ? "<b>Paid</b>" : "Unpaid" %></span>
				</td>
				<td class="job_credit">
					<div class="job_attr"><%= job.credit ? "<b>Credit</b>" : "No Credit" %></span>
				</td>
				<td class="job_extra"></td>
			</tr>
		</table>
	</div>
</div>