<% if not job.nil? %>
  		<div id="job<%= job.id %>" class="job_<%= cycle('even', 'odd') %>">
			<table class="job_table">
					<td class="job_table_left">
						<ul class="job-options" style="float:right">
							<% if @current_user.present? && (job.user_id == @current_user.id || job.owners.include?(@current_user) ||@current_user.admin?)%>
							  <li>
									<%= link_to "edit", edit_job_path(job) %>
							  </li>
							  <li>
									<%= link_to "delete", :controller=> "jobs", :action =>
								"delete", :id => job.id %>
							  </li>
							<% end %>
							<% @current_user.orgs.each do |org| %>
							  <li>
								<% if Curation.where(:org_id => org, :job_id => job).empty?
									%>
									<%= link_to "curate", orgs_curate_path(:id => org.abbr, :job_id => job.id), method: :post %>
								<% else %>
									<%= link_to "uncurate", orgs_uncurate_path(:id => org.abbr, :job_id => job.id), method: :post %>
								<% end %>
							  </li>
							  
							<% end %>
							<% if job.users.include?(@current_user) %>
							  <li>
									<%= link_to "unwatch", unwatch_job_path(job) %>
							  </li>
							<% elsif job.user != @current_user %>
							  <li>
									<%= link_to "watch", watch_job_path(job) %>
							  </li>
							<% end %>
							<% if job.applicants.include?(@current_user) %>
								<li> [applied!] </li>
							<% elsif job.user != @current_user and job.status == 0%>
							  <li>
									<%= link_to "apply", new_job_applic_path(job.id) %>
							  </li>
							<% end %>
						</ul>

						<div class="job_title">
							<a href="<%= job_path(job) %>" title="Click to learn more about this project!"><%= job.title %></a>
						</div>
						<% job_tags = job.tag_list %>
						<% if !job_tags.empty? %>
							<div>
								<% if controller.controller_name != 'dashboard' %>
									<div class="job_desc">
										<span id="job_desc_<%= job.id %>">
											<%= truncate job.desc, :length => 200, :omission => '...' %>
										</span> 
										<span id="job_<%= job.id %>" style="display:none;overflow:hidden;height0px;">
											<%= job.desc %>
										</span>
										<% if job.desc.length > 200 %>
								<% end %>
								<% if @current_user and @current_user.user_type == User::Types::Admin %>
								<div class="posted">Posted: <%= job.created_at.strftime("%m/%d/%Y") %></div>
								<% end %>
								</div>
							<% end %>
								<% if job_tags.empty? %>
								(none)
							<% else %>
								<%= render partial: 'jobs/tag', collection: job.tag_list %>
							<% end %>
							</div>
						<% end %>
				</table>
			</div>
<% end %>
