- actions = job.actions(@current_user)
%div{:class => "job_#{cycle('even', 'odd')}", :id => "job#{job.id}"}
  .job_table_left
    .job_title
      = link_to job.title, job_path(job)
    - job_tags = job.tag_list
    %div
      - if controller.controller_name != 'dashboard'
        .job_desc
          %span{:id => "job_desc_#{job.id}"}
            = truncate job.desc, :length => 200, :omission => '...'
          %span{:id => "job_#{job.id}", :style => "display:none;overflow:hidden;height0px;"}
            = job.desc
          - if @current_user and @current_user.user_type == User::Types::Admin
            .posted
              Posted: #{job.created_at.strftime("%m/%d/%Y")}
      - if job_tags.empty?

      - else
        = render partial: 'jobs/tag', collection: job.tag_list
%hr