<div id="job<%= job.id %>" class="job_<%= cycle('even', 'odd') %>">
	<div class="job_padding_wrapper">
		<table class="job_table">
			<tr>
				<td class="job_table_left">
					<div class="job_title"><a href="<%= job_path(job) %>"><%= job.title %></a></span> (<%= (job.faculties != []) ? job.faculties.first.name : "no faculty sponsor" %>)</div>
					<% job_categories = job.categories %>
					<% if !job_categories.empty? %>
						<div class="job_category">
						<strong>Tags: 
							
							<% job.tag_list.each do |tag| %>
								<%=h tag %>
							<% end %>
						</strong></div>
					<% end %>
					
					<div class="job_desc"><%= truncate(job.desc, 100, "...") %> <%= link_to "(read more)", job %></div>
				</td>
				<td class="job_credit">
					<div class="job_attr"><%= job.paid ? "<b>Paid</b>" : "Unpaid" %></span>
				</td>
				<td class="job_credit">
					<div class="job_attr"><%= job.credit ? "<b>Credit</b>" : "No Credit" %></span>
				</td>
				<td class="job_credit">
					<div class="job_attr"><%= job.num_positions == 0 ? "No limit" : job.num_positions.to_s %></span>
				</td>

				<td class="job_extra"></td>
			</tr>
		</table>
	</div>
</div>