<%#
  Job search result partial

  Optional locals:
    - header
      Set true to output a header row, rather than a result row
    - short
      Set true to show just the snippet, without details like paid/credit
 %>

<%- 
    col_headers = ['Title & Description', 'Paid?', 'Credit?']
    col_headers = [col_headers[0]] if defined?(short) && short
-%>

<%-
    # hack for: if header
    # Since it's a local variable, header will throw an exception
    # unless it's present.
    begin raise unless header || job.is_a?(Hash)
-%>
<tr class="header">
    <%- col_headers.each do |hedder| -%>
        <th><%= hedder %></th>
    <%- end -%>
</tr>
<%-
    rescue # result row
-%>
<tr class="result">
    <!-- <%= col_headers[0] %> -->
    <%- if col_headers[0] -%>
    <td class="left">
      <div class="title">
          <%= link_to job.title, job_path(job) %>
      </div>

      <div class="actions">
          <%- if job.allow_admin_by? current_user -%>
          <span class="admin">
              <%= link_to '[Edit]', edit_job_path(job) %>
              <%= link_to '[Delete]', '#', :onclick => 'alert("plz implement me"); return false;' %>
          </span>
          <%- end -%>
          <%- if job.watchers.include? current_user -%>
          <%= link_to '[Unwatch]', unwatch_job_path(job) %>
          <%- else # i haven't watched yet -%>
          <%= link_to '[Watch]', watch_job_path(job) %>
          <%- end # watchers -%>
      </div>
      <br />

      <div class="clear sponsors">
      [<%= raw job.faculties.collect{|f| link_to f.name, search_jobs_path(:f=>f.id)}.join(', ') %>]
      </div>
      <br />

      <div class="desc">
      <%= simple_format truncate(job.desc, :length => 150) %>
      </div>

    </td>
    <%- end -%>

    <!-- <%= col_headers[1] %> -->
    <%- if col_headers[1] -%>
    <td class="left">
      <%= boolean_image_tag job.paid %>
    </td>
    <%- end -%>

    <!-- <%= col_headers[2] %> -->
    <%- if col_headers[2] -%>
    <td class="left">
      <%= boolean_image_tag job.credit %>
    </td>
    <%- end -%>
</tr>
<%-
    end # result row
-%>
