<% job = watched_job.job %>
<div id="watched_job<%= job.id %>" class="job_<%= cycle('even', 'odd') %>">
	<div class="job_padding_wrapper">
		<table class="job_list">
			<tr>
				<td class="job_table_left">
					<div class="job_title"><a href="<%= job_path(job) %>"><%= job.title %></a></span> (<%= (job.faculties != []) ? job.faculties.first.name : "no faculty sponsor" %>) 
					<% if job.user_id == @current_user.id || job.owners.include?(@current_user) || @current_user.admin? %>
						<%= link_to "[edit]", :controller=>:jobs, :action => :edit, :id => job.id %>
					<% end %>
					<%= link_to "[apply]", new_job_applic_path(job) %>
					<%= link_to "[unwatch]", :controller=>:jobs, :action => :unwatch, :id => job.id %><!--presumably watched-->
					<% if watched_job.unread? -%>
					    [updated!]
					<% end -%>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
