<%= render :partial => "dashboard/menu_bar" %>

<h1>Editing job</h1>

<% form_for(@job) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :desc %><br />
    <%= f.text_area :desc, {:rows=>5}%>
  </p>
  <p>
    <%= f.label :category_id %><br />
    <%= f.text_field :category_id %>
  </p>
  <p>
    <%= f.label :exp_date %><br />
    <%= f.datetime_select :exp_date %>
  </p>
  <p>
    <%= f.label :num_positions %><br />
    <%= f.text_field :num_positions %>
  </p>
  <p>
    <%= f.label :paid %><br />
    <%= f.check_box :paid %>
  </p>
  <p>
    <%= f.label :credit %><br />
    <%= f.check_box :credit %>
  </p>
  <p>
    <%= f.select :department_id, Department.all.collect {|c| [c.name, c.id]} %>
  </p>
  <p>
    <%= select_tag :faculty_name, options_from_collection_for_select(Faculty.all, :id, :name, @job.faculties.find(:first).id) %>
  </p>
  <p>
    <%= f.submit ('Update') %>
  </p>
<% end %>

<%= link_to 'Back', jobs_path %>