<% content_for :title, "Apply for Position" %>


<div class="row">
  <div class="large-10 col-sm-12 columns">
<h1>Apply for a Project</h1>

<% form_for(@applic, :url=>{:controller=>:jobs, :action=>:apply, :id=>params[:id]} ) do |f| -%>
  <table class="job_clear_table">
	  <tr>
		<td class="job_clear_table_label">Project title</td>
		<td class="job_clear_table_field"><b><a href="<%=h url_for @job %>" target="_blank"><%= @job.title %></a></b></td>
	  </tr>
	  <tr>
		<td class="job_clear_table_label">Faculty sponsor</td>
		<td class="job_clear_table_field">
		  <b>
		    <% @job.faculties.each do |fac| %> 
          <%= fac.name %> 
              	
          <a href="http://www.google.com/search?btnI=I%27m+Feeling+Lucky&ie=UTF-8&oe=UTF-8&q=<%= fac.name %> Berkeley <%= @job.department.name %>" target="_blank">
          <%= image_tag(@job.department.name.downcase + "_icon.gif") %>
          </a>
            	    
                	
        <% end %> 
    	</b>
		</td>
	  </tr>
	  <tr>
		<td class="job_clear_table_label">Message to faculty sponsor</td>
		<td class="job_clear_table_field">
		    <%= f.text_area :message, {:rows=>12, :class => "extrawide"}%>
		</td>
	  </tr>
  </table>
  <br />
  <p>
    <h2>Credentials</h2>
    <b><%= @current_user.name %></b>, please supply your transcript and resume in PDF format below. 
    The faculty sponsor of this project will receive your credentials along with your application.
  </p>
  <br />
    
  <table class="job_clear_table">
  	<tr>
		  <td class="job_clear_table_label">Unofficial Transcript</td>
		  <td class="job_clear_table_field"><i>N/A</i></td>
	  </tr>
  	<tr>
		  <td class="job_clear_table_label">Resume</td>
		  <td class="job_clear_table_field"><i>N/A</i></td>
	  </tr>
  </table>
  
  <br />
  
  <%= f.submit('Submit') %>
  <input type="button" value="Cancel" onclick="location.href='<%= url_for(@job) %>'" />
  <% end -%><!-- end form -->
  
<br /><br />
<%= link_to raw('&#0171; Back to listings'), jobs_path %>
</div>
</div>

