<% content_for :title, "Listings" %>

<h1>Research Listings</h1>

<br />

<!-- search bar -->
<div id="browse_search_bar">
  <%= form_tag(jobs_search_path, :method => "get") do %>
    <%= image_tag "search_icon.png", :style => "vertical-align: top;" %>
    <%= text_field_tag :query, @query, :placeholder => "Search Parameters", :style => "width: 180px" %>&nbsp;
    <%= label_tag :department, "Department" %>
    <%= select_tag :department, options_for_select([["All Departments",0]]) + options_from_collection_for_select(Department.all, "id", "name", @department_id) %>
    <%= label_tag :faculty, "Faculty" %>
    <%= select_tag :faculty, options_for_select([["All Faculty",0]]) + options_from_collection_for_select(Faculty.all, "id", "name", @faculty_id) %>
    <%= label_tag :compensation, "Compensation" %>
    <%= select_tag :compensation,
          options_for_select({
            "Don't care" => Job::Compensation::None,
            "Pay"        => Job::Compensation::Pay,
            "Credit"     => Job::Compensation::Credit,
            "Pay or credit" => Job::Compensation::Both
            }, @compensation) %>
    <%= label_tag :post_status, "Status" %>
    <%= select_tag :post_status,
          options_for_select({
            "All" => nil,
            "Open" => Job::Status::Open,
            "Filled" => Job::Status::Filled,
            }, @post_status) %>
    <%= submit_tag "Search" %>
    <br />
    <%= link_to "[More Options]", '#', :id => 'more_options', :onclick => "#{visual_effect(:toggle_slide, 'advanced_search')} (as=document.getElementById('as')).value = 1-Number(as.value); return false;" %>
    <div id="advanced_search">
      <%# javascript_tag "$('#advanced_search').hide()" %>
      <%= javascript_tag visual_effect(:toggle_slide, 'advanced_search') unless params[:as].to_i == 1 %>
      <%= hidden_field_tag :as, params[:as] %>

      <%= label_tag :per_page, "Listings per page" %>
      <%= select_tag :per_page, options_for_select([8,16,32,64,128], params[:per_page].to_i), :multiple=>false%>

      <%= label_tag :include_ended, "Include ended", :title => "Include listings with end dates in the past. These positions may not be available anymore." %>
      <%= check_box_tag :include_ended, '1', params[:include_ended] %>
    </div>
  <% end %>
</div>

<!-- tag cloud -->
<% if false # this is broken.. %>
<div id="tag_cloud">
  <%= image_tag 'tag.gif' %> <b>Top Tags:</b><br />
  <% tag_cloud Job.tag_counts, %w(tag_s tag_m tag_l tag_xl) do |tag, css_class| %>
    <span class="tag"><%=h link_to tag.name, jobs_path + '?tags=' + tag.name, :class => css_class %></span>
  <% end %>
</div>
<% end %>

<br />
<% if @jobs.empty? %>
<!-- no results -->
<h4>No matching listings were found! Try a different search.</h4>
<% else %> 
<!-- there are results -->
<% if params[:query].nonempty? %>
	Your search for "<%= params[:query] %>" returned <%= @jobs.length %> results.<br /><br />
<% end %>
<div id="browse_results_wrapper">
  <div id="browse_results_pagination">
    <span class="left"><%= page_entries_info @jobs %></span>
    <span class="right"><%= will_paginate @jobs %></span>
  </div>
  <br />
  <div id="browse_results">
    <div id="browse_header">
          <div class="job_padding_wrapper">
          <table id="browse_header_table">
          <tr>
                  
                  <td class="job_table_left">Title &amp; Description</td>
                  <td class="job_credit">Form of Compensation</td>
                  <td class="job_credit"># Positions</td>
                  
                  </div>
          </tr>
          </table>
          </div>
    </div>
    <%= render(:partial => "job", :collection => @jobs) %>
  </div>
  <%= will_paginate @jobs %>
</div>


<!-- end jobs.empty? -->
<% end %>
