<% content_for :title, "Listings" %>

<h1>Research Listings</h1>

<br />

<!-- search bar -->
<div id="browse_search_bar">
	<% form_tag(:jobs, :method => "get") do %>
	    <%= image_tag "search_icon.png", :style => "vertical-align: top;" %>
		<%= text_field_tag :query, @query, :placeholder => "Search Parameters", :style => "width: 180px" %>&nbsp;
		<%= label_tag :department, "Department" %>
		<%= select_tag :department, options_for_select([["All Departments",0]]) + options_from_collection_for_select(Department.all, "id", "name", @department_id) %>
		<%= label_tag :faculty, "Faculty" %>
		<%= select_tag :faculty, options_for_select([["All Faculty",0]]) + options_from_collection_for_select(Faculty.all, "id", "name", @faculty_id) %>
		&nbsp;&nbsp;<%= label_tag :paid, "Paid?" %> <%= check_box_tag :paid, '1', params[:paid] %>
		&nbsp;&nbsp;<%= label_tag :credit, "Credit?" %>  <%= check_box_tag :credit, '1', params[:credit] %>
		<%= submit_tag "Search" %>
	<% end %>
</div>

<!-- tag cloud -->
<div id="tag_cloud">
  <%= image_tag 'tag.gif' %> <b>Top Tags:</b><br />
  <% tag_cloud Job.tag_counts, %w(tag_s tag_m tag_l tag_xl) do |tag, css_class| %>
    <span class="tag"><%=h link_to tag.name, jobs_path + '?tags=' + tag.name, :class => css_class %></span>
  <% end %>
</div>

<br />
<% if @jobs.empty? %>
<!-- no results -->
<h4>No matching listings were found! Try a different search.</h4>
<% else %> 
<!-- there are results -->
<% if params[:query].nonempty? %>
	Your search for "<%= params[:query] %>" returned <%= @jobs.length %> results.<br /><br />
<% end %>
<div id="browse_results_wrapper">
	<div id="browse_results">
	  <div id="browse_header">
		<div class="job_padding_wrapper">
		<table id="browse_header_table">
		<tr>
			
			<td class="job_table_left">Title &amp; Description</td>
			<td class="job_credit">Paid?</td>
			<td class="job_credit">Credit?</td>
			<td class="job_credit"># Positions</td>
			
			</div>
		</tr>
		</table>
		</div>
	  </div>
	  <%= render(:partial => "job", :collection => @jobs) %>
	</div>
</div>

<!-- end jobs.empty? -->
<% end %>
