<%= render :partial => "dashboard/menu_bar" %>

<h1>Listing jobs</h1>
<%= stylesheet_link_tag "job" %>
<br>

<div id="search_bar">
	<% form_for :search_terms, :url => {:controller => :jobs, :action => :list} do |f| %>
		<%= f.text_field :query %>
		<%= f.submit "Search" %>
	<% end %>
</div>

<br>

  <%= render :partial => "job", :collection => @jobs %>
