<%= content_for :title, 'Listings' %>

<h1>Research Listings</h1>
<br />

<%= render :partial => 'search' %>

<%- if @results.empty? -%>

    <h4>No matching listings found! Try broadening your search.</h4>

<%- else # not @results.empty? -%>

    <!-- there are results -->

    <% unless params[:q].blank? %>

        <div id="browse-info">
        Your search for "<%= params[:q] %>" returned <%= pluralize @results.count, 'result' %>.
        </div><br /><br />

    <% end # query nonempty %>

<div id="browse_results_wrapper">
    <div id="browse_results_pagination">
        <span class="left"><%= page_entries_info @results %></span>
        <span class="right"><%= will_paginate @results %></span>
    </div>
    <br />
    <table id="browse_header">
        <%= render 'job', :header => true %>
    </table>
    <div class="job_padding_wrapper">
    <table id="browse_results" class="job_table">
        <%= render @results %>
    </table>
    </div><%# padding_wrapper %>
    <%= will_paginate @results %>
    </div>
<%- end # not @results.empty -%>
