<h1>Listing jobs</h1>
<%= stylesheet_link_tag "job" %>
<br>

<div id="search_bar">
	<% form_for :search_terms, :url => {:controller => :jobs, :action => :search} do |f| %>
		<%= f.text_field :query %>
		<%= f.submit "Search" %>
	<% end %>
</div>

<br>


  <%= render :partial => "job", :collection => @jobs %>


<% if false %>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Desc</th>
    <th>Category</th>
    <th>Exp date</th>
    <th>Num positions</th>
    <th>Paid</th>
    <th>Credit</th>
  </tr>

  
<% @jobs.each do |job| %>
  <tr>
    <td><%=h job.user %></td>
    <td><%=h job.title %></td>
    <td><%=h job.desc %></td>
    <td><%=h job.category_id %></td>
    <td><%=h job.exp_date %></td>
    <td><%=h job.num_positions %></td>
    <td><%=h job.paid %></td>
    <td><%=h job.credit %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  
<% end %>
</table>

<% end %>

<br />

<%= link_to 'New job', new_job_path %>