<%= render :partial => "dashboard/menu_bar" %>

<script language="JavaScript" src="/javascripts/autocomplete_setup.js"></script>

<br />
<h1>Post a New Job</h1>

<% form_for(@job) do |f| %>
  <%= f.error_messages %>

  
  <table class="job_clear_table">
	  <tr>
		<td class="job_clear_table_label"><%= f.label :title, 'Job title' %></td>
		<td class="job_clear_table_field"><%= f.text_field :title %></td>
	  </tr>
	  <tr>
		<td class="job_clear_table_label"><%= f.label :desc, 'Job description' %></td>
		<td class="job_clear_table_field"><%= f.text_area :desc, {:rows=>7}%></td>
	  </tr>
	  <tr>
		<td class="job_clear_table_label"><%= f.label :category, 'Category(ies)' %></td>
		<td class="job_clear_table_field"><%= text_field :category, :name %></td>
	  </tr>
	  <tr>
		<div class="ui-widget">
		    <td class="job_clear_table_label"><%= f.label :course, 'Required courses' %></td>
		    <td class="job_clear_table_field"><%= text_field :course, :name %></td>
		</div>
	  </tr>
	  <tr>
		<td class="job_clear_table_label"><%= f.label :proglang, 'Desired programming language(s)' %></td>
		<td class="job_clear_table_field"><%= text_field :proglang, :name %></td>
	  </tr>
	  <tr>
		<td class="job_clear_table_label"><%= f.label :exp_date, 'Expiration time of this listing' %></td>
		<td class="job_clear_table_field"><%= f.datetime_select :exp_date %> &nbsp; &nbsp; Note: Time is UTC.</td>
	  </tr>
	  <tr>
		<td class="job_clear_table_label"><%= f.label :num_positions, 'Number of available positions' %> (0 for no limit)</td>
		<td class="job_clear_table_field"><%= f.text_field :num_positions, {:value=> 0, :size=> 5} %></td>
	  </tr>
	  <tr>
		<td class="job_clear_table_label"><%= f.label :paid, 'Paid?' %></td>
		<td class="job_clear_table_field"><%= f.check_box :paid %></td>
	  </tr>
	  <tr>
		<td class="job_clear_table_label"><%= f.label :credit, 'Credit (Units) offered?' %></td>
		<td class="job_clear_table_field"><%= f.check_box :credit %></td>
	  </tr>
	  <tr>
		<td class="job_clear_table_label"><%= f.label :department %></td>
		<td class="job_clear_table_field"><%= f.select :department_id, Department.all.collect {|c| [c.name, c.id]} %></td>
	  </tr>
	  <tr>
		<td class="job_clear_table_label"><%= f.label :faculty_sponsor, 'Faculty sponsor' %></td>
		<td class="job_clear_table_field"><%= select_tag :faculty_sponsor, options_from_collection_for_select(Faculty.all, :id, :name) %></td>
	  </tr>
	  <tr>
		<td class="job_clear_table_label"></td>
		<td class="job_clear_table_field"><%= f.submit('Create') %></td>
	  </tr>
  </table>
<% end %>
<br />
<%= link_to 'Back', jobs_path %>
