<h2> <%=h @job.title %> </h2>
<p>
  <b>Submitted By:</b>
  <%=h @job.user.name %>
</p>

<p>
  <b>Faculty Sponsor:</b>
  <% @job.faculties.each { |c| %> <%= c.name %> <% } %>
</p>

<p>
  <b>Description:</b>
  <%=h @job.desc %>
</p>

<p>
  <b>Tag(s):</b>
  <%=h @job.category_list_of_job %>
</p>

<p>
  <b>Position Expiration Date:</b>
  <%=h @job.exp_date %>
</p>

<p>
  <b>Number of Positions:</b>
  <%=h @job.num_positions %>
</p>

<p>
  <b>Paid:</b>
  <% if @job.paid %> Option Available <% else %> No <% end %>
</p>

<p>
  <b>Credit:</b>
  <% if @job.credit %> Option Available <% else %> No <% end %>
</p>

<br /><br />=== Debug ===<br /><br />

<a href="<%= root_url %>jobs/activate/<%= @job.id %>?a=<%= @job.activation_code %>"><%= root_url %>jobs/activate/<%= @job.id %>?a=<%= @job.activation_code %></a>

<% #debug(@job) %>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>