- content_for :title, @job.title
.container
  .row
    .col-md-5.col-xs-6.no-padding
      %h1 Position Details
    .col-md-7.col-xs-6.no-padding
      .view-job-actions.pull-right
        - @actions.each do |a|
          - case a
          - when 'edit'
            = link_to 'edit', edit_job_path(@job), class: "btn btn-info"
            = link_to 'delete', delete_job_path(@job), class: "btn btn-danger"
          - when 'watch'
            = link_to 'watch', {:controller => :jobs, :action => :watch, :id => @job.id}, class: 'btn btn-primary'
          - when 'unwatch'
            = link_to 'unwatch', unwatch_job_path(@job), class: "btn btn-primary"
          - when 'apply'
            = link_to 'apply', new_job_applic_path(@job), class: 'btn btn-success'
          - when 'applied'
            - if @job.applics.find_by_user_id(@current_user).status == "accepted"
              %h2
                .label.label-success Accepted
            - elsif @job.applics.find_by_user_id(@current_user).status == "not accepted"
              %h4
                .label.label-info Not Accepted
            - else
              %h3
                .label.label-success Applied
          - when 'resume'
            = link_to 'resume', new_job_applic_path(@job), class: 'btn btn-success'
        - @curations.each do |org, curated|
          - if curated
            = link_to 'uncurate', orgs_uncurate_path(:abbr => org.abbr, :job_id => @job.id), method: :post, class: 'btn btn-warning', title: org.name, rel: 'tooltip'
          - else
            = link_to 'curate', orgs_curate_path(:abbr => org.abbr, :job_id => @job.id), method: :post, class: 'btn btn-warning', title: org.name, rel: 'tooltip'

  .card
    .row
      .view-job-title
        = @job.title
        - if @job.users.include?(@current_user)
          %span.glyphicon.glyphicon-star{:title => "You are watching this job"}
      - if @job.tag_list.present?
        .job_tags
          = image_tag 'tag.gif'
          %strong.tags-icon Tags:
          = render :partial => "tag", :collection => @job.tag_list
      %dl.dl-horizontal
        %dt Project Type
        %dd
          = @job.project_string
        %dt Contact
        %dd
          = @job.user.nil? ? 'anonymous' : link_to(@job.contacter.name, :controller => :users, :action => :show, :id => @job.primary_contact_id)
        %dt Sponsored by
        %dd
          - @job.sponsorships.each do |i|
            - if i.faculty
              = link_to i.faculty.name, faculty_path(i.faculty)
        %dt Description
        %dd
          = simple_format @job.desc
        %dt Posted
        %dd
          = @job.created_at.strftime("%m/%d/%Y")
        %dt Last Updated
        %dd
          = @job.updated_at.strftime("%m/%d/%Y")
        %dt Department
        %dd
          = link_to @job.department.name, jobs_search_path(:department => @job.department.id), :class => 'tags'
        %dt Category
        %dd
          - if !@job.category_list_of_job.empty?
            = h @job.category_list_of_job(true)
          - else
            (none)
        %dt Required courses
        %dd
          - if !@job.course_list_of_job.empty?
            = h @job.course_list_of_job(true)
          - else
            (none)
        %dt Desired skills
        %dd
          - if !@job.proglang_list_of_job.empty?
            = h @job.proglang_list_of_job(true)
          - else
            (none)
        %dt Earliest start date
        %dd
          = @job.earliest_start_date.strftime("%b %e, %Y")
        %dt Latest start date
        %dd
          = @job.latest_start_date.strftime("%b %e, %Y")
        %dt Position end date
        %dd
          = (@job.open_ended_end_date ? 'Open-ended' : @job.end_date.strftime("%b %e, %Y"))
        %dt Form of Compensation
        %dd
          = link_to Job::Compensation::All.key(@job.compensation), jobs_search_path(:compensation => @job.compensation), :class => 'tags'
        %dt Number of positions
        %dd
          - if @job.num_positions && @job.num_positions > 0
            = h @job.num_positions
          - else
            Unspecified
        %dt Listing Status
        %dd
          = Job::Status::All.key(@job.status)

      - if can_view_apps(@current_user, @job)
        - unfilterredownapps = @job.applics
        - ownapps = Array.new
        - unless unfilterredownapps.empty?
          - for app in unfilterredownapps do 
            - ownapps << app

        %h2= pluralize ownapps.length, 'Application'
        %p
        - unless ownapps.empty?
          - ownapps.flatten!
          %table.job_table.table.table-striped.table-condensed
            %thead
              %tr
                %th.col-md-2 Application Date
                %th.col-md-4 Project
                %th.col-md-2 Applicant
                %th.col-md-2 Status
            =render ownapps, :mine => false
      = link_to raw('« Back to listings'), jobs_path
