<p>
  <b>Submitted By:</b>
  <%=h @job.user.name %>
</p>

<p>
  <b>Sponsor:</b>
  <% @job.faculties.each { |c| %> <%= c.name %> <% } %>
</p>

<p>
  <b>Title:</b>
  <%=h @job.title %>
</p>

<p>
  <b>Desc:</b>
  <%=h @job.desc %>
</p>

<p>
  <b>Category:</b>
  <%=h @job.category_id %>
</p>

<p>
  <b>Exp date:</b>
  <%=h @job.exp_date %>
</p>

<p>
  <b>Number of Positions:</b>
  <%=h @job.num_positions %>
</p>

<p>
  <b>Paid:</b>
  <% if @job.paid %> Option Available <% else %> No <% end %>
</p>

<p>
  <b>Credit:</b>
  <% if @job.credit %> Option Available <% else %> No <% end %>
</p>

<%= debug(@job) %>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>