<%= render :partial => "dashboard/menu_bar" %>

<div id="job_show_main">
<br /><br /><br />
<h2> <%=h @job.title %> </h2>
<p>
  posted by <b><%= link_to @job.user.name, :controller => :users, :action => :show, :id => @job.user_id %></b> &nbsp; 	
	<b>
	<% if logged_in? && @job.user_id == current_user.id %>
		<%= link_to "[edit]", :controller => :jobs, :action => :edit, :id => @job.id %>
	<% end %>&nbsp;
	
	<% if current_user != nil && !current_user.is_faculty %>
		<% if @job.users.include?(current_user) %>
			<%= link_to "[unwatch this job]", :controller => :jobs, :action => :unwatch, :id => @job.id %>
		<% else %>
			<%= link_to "[watch this job]", :controller => :jobs, :action => :watch, :id => @job.id %>
		<% end %>
        &nbsp;
        <% if @job.applicants.include?(current_user) %>
			[applied!]
		<% else %>
			<%= link_to "[apply for this job]", :controller => :jobs, :action => :goapply, :id => @job.id %>
		<% end %>
	<% end %>
	</b>
</p>
<br />
<p>
						<div class="job_tags">
                        <%= image_tag 'tag.gif' %>
						Tags:
                          <% if @job.active %>
                            <% @job.tag_list.each do |tag| %>
                                <span class="tag"><%=h tag %></span>
                            <% end %>
                          <% else %>
                            (Tags will be generated once job is activated)
                          <% end %>	
						</div>
</p>

<br />
<p>
  <b>Faculty Sponsor:</b>
  <% @job.faculties.each do |f| %> 
	<%= f.name %> <a href="http://www.google.com/search?btnI=I%27m+Feeling+Lucky&ie=UTF-8&oe=UTF-8&q=<%= f.name %> Berkeley EECS" target="_blank">
		<%= image_tag("eecs_icon.gif") %></a>
  <% end %> 
</p>

<p>
  <b>Description:</b>
  <p id="description"><%=h @job.desc %></p>
</p>

<p>
  <b>
	Categor<%=h ((@job.category_list_of_job.length == 1) ? "y" : "ies") %>:
  </b>
  <% if ! @job.category_list_of_job.empty? %>
	<%=h @job.category_list_of_job %>
  <% else %>
    (none)
  <% end %>
</p>

<p>
  <b>Required courses:</b>
  <% if ! @job.course_list_of_job.empty? %>
	<%=h @job.course_list_of_job %>
  <% else %>
    (none)
  <% end %>
</p>

<p>
  <b>Desired programming languages: </b>
  <% if ! @job.proglang_list_of_job.empty? %>
	<%=h @job.proglang_list_of_job %>
  <% else %>
    (none)
  <% end %>
</p>

<p>
  <b>Position Expiration Date:</b>
  <%=h @job.exp_date %>
</p>

<p>
  <b>Number of Positions:</b>
  <%=h @job.num_positions %>
</p>

<p>
  <b>Paid:</b>
  <% if @job.paid %> Yes <% else %> No <% end %>
</p>

<p>
  <b>Credit:</b>
  <% if @job.credit %> Yes <% else %> No <% end %>
</p>

<br /><br />
<h2>Discussion</h2>
<p>
	<% if not @job.users or @job.users.empty? %>
	    No comments yet. <a href="#">Be the first!</a>
    <% else %>
	    <div>
	    Currently watching this job:
	    <ul>
	    <% @job.users.each do |usr| %>
		    <li>
    		    <%= link_to usr.name, :controller => :users, :action => :show, :id => usr.id %>
    		    <%= usr.name == current_user.name ? " (you)" : "" %>
    		</li>    
	    <% end %>
        </ul>
	    </div>
	<% end %>
</p>
<br />
<%= link_to "&#0171; back to listings", :controller => :jobs, :action => :index %>
<br /><br /><br /><br />
<!-- === Debug === -->

<span style="color: #CCCCCC">Activation Link: <a href="<%= @job.activation_url %>" style="color: #CCCCCC"><%= @job.activation_url %></a></span>
<br />



</div>
