<% content_for :title, @job.title %>

<div class="container">
  <div class="row">
    <div class="view-job-title"><%= @job.title %></div>
    <div class="view-job">
      <p><strong><%= @job.project_string %></strong></p>
      <p>Contact: <strong><%= @job.user.nil? ? 'anonymous' : link_to(@job.contacter.name, :controller => :users, :action => :show, :id => @job.primary_contact_id)%></strong> </p>
      <p>
        <% if @job.sponsorships.length != 0 %>
          Sponsored by
          <% @job.sponsorships.each do |i| %>
            <% if i.faculty %>
              <%= link_to i.faculty.name, faculty_path(i.faculty) %>
            <% end %>
          <% end %>
        <% end %>
      </p>

      <%= link_to 'edit', edit_job_path(@job), class: "view-job-options edit" if @actions.include?('edit') %>
      <%= link_to 'delete', delete_job_path(@job), class: "view-job-options delete" if @actions.include?('delete') %>
      <% @curations.each do |org, curated| -%>
        <% if curated -%>
          <%= link_to 'uncurate', orgs_uncurate_path(:abbr => org.abbr, :job_id => @job.id), method: :post,
                      class: 'view-job-options uncurate', title: org.name, rel: 'tooltip' %>
        <% else -%>
          <%= link_to 'curate', orgs_curate_path(:abbr => org.abbr, :job_id => @job.id), method: :post,
                      class: 'view-job-options curate', title: org.name, rel: 'tooltip' %>
        <% end %>
      <% end %>
      <%= link_to 'unwatch', unwatch_job_path(job), class: "view-job-options watch" if
              @actions.include?('unwatch') %>
      <%= link_to 'watch', {:controller => :jobs, :action => :watch, :id => @job.id},
                  class: 'view-job-options watch' if @actions.include?('watch') %>
      <%= link_to 'apply', new_job_applic_path(@job),
                  class: 'view-job-options apply' if @actions.include?('apply') %>
      <%= link_to 'resume app', new_job_applic_path(@job),
                  class: 'view-job-options apply' if @actions.include?('resume') %>

      <p>
      <div class="job_tags">
        <%= image_tag 'tag.gif' %> <strong>Tags:</strong>
        <%= render :partial => "tag", :collection => @job.tag_list %>
      </div>
      </p>
    </div><!-- view-job -->

    <!-- Job attributes -->
    <table class="table table-striped view-job-table">
      <tbody>
      <tr>
        <td>
          Posted:
        </td>
        <td>
          <%= @job.created_at.strftime("%m/%d/%Y") %>
        </td>
      </tr>
      <tr>
        <td>
          Description:
        </td>
        <td>
          <%= simple_format @job.desc %>
        </td>
      </tr>
      <tr>
        <td>
          <%= h 'Category'.pluralize_for(@job.categories.length) %>:
        </td>
        <td>
          <% if ! @job.category_list_of_job.empty? %>
            <%=h @job.category_list_of_job(true) %>
          <% else %>
            (none)
          <% end %>
        </td>
      </tr>

      <tr>
        <td>
          Required courses:
        </td>
        <td>
          <% if ! @job.course_list_of_job.empty? %>
            <%=h @job.course_list_of_job(true) %>
          <% else %>
            (none)
          <% end %>
        </td>
      </tr>

      <tr>
        <td>
          Desired skills:
        </td>
        <td>
          <% if ! @job.proglang_list_of_job.empty? %>
            <%=h @job.proglang_list_of_job(true) %>
          <% else %>
            (none)
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          Earliest start date:
        </td>
        <td>
          <%=h @job.earliest_start_date.strftime("%b %e, %Y") %>
        </td>
      </tr>
      <tr>
        <td>
          Latest start date (work must start by):
        </td>
        <td>
          <%=h @job.latest_start_date.strftime("%b %e, %Y") %>
        </td>
      </tr>
      <tr>
        <td>
          Position end date:
        </td>
        <td>
          <%=h (@job.open_ended_end_date ? 'Open-ended' : @job.end_date.strftime("%b %e, %Y")) %>
        </td>
      </tr>

      <tr>
        <td>
          Form of Compensation:
        </td>
        <td>
          <%= Job::Compensation::All.key(@job.compensation) || "Unspecified" %>
        </td>
      </tr>

      <tr>
        <td>
          Number of positions:
        </td>
        <td>
          <% if @job.num_positions && @job.num_positions > 0 %>
            <%=h @job.num_positions %>
          <% else %>
            Unspecified
          <% end %>
        </td>
      </tr>

      <tr>
        <td>
          Listing Status:
        </td>
        <td>
          <%= Job::Status::All.key(@job.status) %>
        </td>
      </tr>
      </tbody>
    </table>

    <% if can_view_apps(@current_user, @job) %>


      <h2>Applications</h2>
      <p>
        <% if @job.applics.empty? -%>
          None yet.
        <% else -%>
          <% if can_view_apps(@current_user, @job) %>
          <ul>
            <% @job.applics.each do |a| -%>
              <li><%= link_to a.user.name, :controller => :applics, :action => :show, :id => a.id %></li>
            <% end -%>
          </ul>
        <% else -%>
          This listing has <strong><%= pluralize @job.applics.length, 'applicant' %></strong> so far.
        <% end -%>
      <% end -%>
      </p>


    <% end %>

    <%= link_to raw('&#0171; Back to listings'), jobs_path %>



  </div>
</div>
