<% content_for :title, @job.title %>

<div id="job_show_main">
<br />
<h2><%=h @job.title %></h2>
<p>
  posted by <b><%= @job.user.nil? ? 'anonymous' : link_to(@job.user.name, :controller => :users, :action => :show, :id => @job.user_id)%></b> &nbsp; 	
	<b>
	<% if logged_in? && @job.user_id == current_user.id %>
		<%= link_to "[edit]", :controller => :jobs, :action => :edit, :id => @job.id %> 
		<%= link_to "[delete]", :controller=> "jobs", :action => "delete", :id => @job.id %>
	<% end %>&nbsp;
	
	<% if current_user != nil && !current_user.is_faculty %>
		<% if @job.users.include?(current_user) %>
			<%= link_to "[unwatch this job]", :controller => :jobs, :action => :unwatch, :id => @job.id %>
		<% else %>
			<%= link_to "[watch this job]", :controller => :jobs, :action => :watch, :id => @job.id %>
		<% end %>
        &nbsp;
        <% if @job.applicants.include?(current_user) %>
			[applied!]
		<% else %>
			<%= link_to "[apply for this job]", new_job_applic_path(@job.id) %>
		<% end %>
	<% end %>
	</b>
</p>
<br />
<p>
  <div class="job_tags">
    <%= image_tag 'tag.gif' %>Tags:
    <% if @job.active %>
      <%= render :partial => "tag", :collection => @job.tag_list %>
    <% else %>
      (Tags will be generated once job is activated)
    <% end %>	
  </div>
</p>

<br />
<p>
  <b>Faculty Sponsor:</b>
  <% @job.faculties.each do |f| %> 
    <b><%= link_to f.name, :controller => "jobs", :action => "index", :params => { :faculty => f.id } %></b>
    <a href="http://www.google.com/search?btnI=I%27m+Feeling+Lucky&ie=UTF-8&oe=UTF-8&q=<%= f.name %> Berkeley <%= @job.department.name %>" target="_blank">
      <%= image_tag(@job.department.name.downcase + "_icon.gif") %>
    </a>
  <% end %> 
</p>

<p>
  <b>Description:</b>
  <p id="description"><%= @job.desc.to_br %></p>
</p>





<table class="job_attributes">
  <tr>
    <td class="job_attr_title">
        <% categ_str = pluralize(@job.categories.length, 'Category') %>
        <%=h categ_str[categ_str.index('Categor') .. categ_str.length] %>:
    </td>
    <td class="job_attr_value">
      <% if ! @job.category_list_of_job.empty? %>
        <%=h @job.category_list_of_job(true) %>
      <% else %>
          (none)
      <% end %>      
    </td>
  </tr>
  
  
  <tr>
    <td class="job_attr_title">
      Required courses:
    </td>
    <td class="job_attr_value">
      <% if ! @job.course_list_of_job.empty? %>
      	<%=h @job.course_list_of_job(true) %>
      <% else %>
        (none)
      <% end %> 
    </td>
  </tr>  
  
  <tr>
    <td class="job_attr_title">
      Desired programming languages:
    </td>
    <td class="job_attr_value">
      <% if ! @job.proglang_list_of_job.empty? %>
	      <%=h @job.proglang_list_of_job(true) %>
      <% else %>
          (none)
      <% end %>
    </td>
  </tr>
  
  <tr>
    <td class="job_attr_title">
      Position expiration date:
    </td>
    <td class="job_attr_value">
      <%=h @job.exp_date.pp %>
    </td>
  </tr>
  
  <tr>
    <td class="job_attr_title">
      Number of positions:
    </td>
    <td class="job_attr_value">
      <% if @job.num_positions > 0 %>
        <%=h @job.num_positions %>
      <% else %> 
        Unspecified
      <% end %>
    </td>
  </tr>      
  
  <tr>
    <td class="job_attr_title">
      Paid:
    </td>
    <td class="job_attr_value">
      <% if @job.paid %> Yes <% else %> No <% end %>
    </td>
  </tr>
    
  <tr>
    <td class="job_attr_title">
      Credit:
    </td>
    <td class="job_attr_value">
      <% if @job.credit %> Yes <% else %> No <% end %>
    </td>
  </tr>
</table>


<br /><br />
<h2>Discussion</h2>
<p>
	<% if not @job.users or @job.users.empty? %>
	    No comments yet. <a href="#" onclick="alert('Commenting feature coming soon!')">Be the first!</a>
    <% else %>
	    <div>
	    Currently watching this job:
	    <ul>
	    <% @job.users.each do |usr| %>
		    <li>
    		    <%= link_to usr.name, :controller => :users, :action => :show, :id => usr.id %>
    		    <%= !current_user.nil? && usr.name == current_user.name ? " (you)" : "" %>
    		</li>    
	    <% end %>
        </ul>
	    </div>
	<% end %>
</p>
<br />



<% if current_user.present? && current_user.can_post? %>

  <br />
  <h2>Applicants</h2>
  <p>
      <% if @job.applics.empty? -%>
      None yet.
      <% else -%>
          <% if @job.allow_admin_by? current_user -%>
              <% @job.applics.each do |a| -%>
                  <%= link_to a.user.name, :controller => :applics, :action => :show, :id => a.id %>
              <% end -%>
          <% else -%>
              This listing has <b><%= pluralize @job.applics.length, 'applicant' %></b> so far.
          <% end -%>
      <% end -%>
  </p>
  <br />

<% end %>

<%= link_to "&#0171; Back to listings", :controller => :jobs, :action => :index %>
<br /><br /><br />


</div>
