= javascript_include_tag 'autocomplete_setup'
.card
  = form_for @user do |f|
    - if @user.errors.any?
      #error_explanation
        %h2
          Couldn't save due to #{pluralize(@user.errors.count, "error")}.
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg
    .row
      %h2 Basic Information
      %dl.dl-horizontal
        %dt Name
        %dd= @user.name

        - if @user.apply?
          %dt Major
          - if @user.major_code == "" or @user.major_code == nil or @user.major_code == "double"
            %dd= f.text_field :major_code, class: 'form-control'
          - else 
            %dd= @user.major_code

        %dt Email*
        %dd= f.text_field :email, class: 'form-control'

        -if !@user.apply? or (@user.jobs != nil && @user.jobs.length != 0)
          %dt Description
          %dd= f.text_area :research_blurb, class: 'form-control', :rows => 5, :placeholder => "If you are an investigator, describe your research interest here"

        - if @user.apply?
          %dt Class of
          %dd= f.select :class_of, options_for_select((Time.now.year - 3)..(Time.now.year + 4), @user.class_of.present? ? @user.class_of : Time.now.year+3), {}, :id => 'right-label'
    - if @user.apply?
      %hr
      .row
        %h2 In-Depth Information
        %dl.dl-horizontal
          %dt Hours per Week
          %dd= f.text_field :free_hours, :type => :number, :min => 0, :placeholder => '0', class: 'form-control'

          %dt Link to Resume
          %dd= f.text_field :url, class: 'form-control'

          %dt Experience
          %dd= f.text_area :experience, :rows => 10, :id => 'experience-box', class: 'form-control', :maxlength => 1000, :size => 1000, :placeholder => "Describe your projects, work experience, or other extracurricular activities."

          %dt Courses
          %dd= text_field :course, :name, :value => params[:course][:name], class: 'form-control', id: 'courses-input', :placeholder => "Relevant courses, separated by commas"

          %dt Skills
          %dd= text_field :proglang, :name, :value => params[:proglang][:name], class: 'form-control', id: 'proglangs-input', :placeholder => "Languages in which you are proficient, separated by commas"

          %dt Interests
          %dd= text_field :category, :name, :value => params[:category][:name], class: 'form-control', id: 'categories-input', :placeholder => "What areas are you interested in?"
    = f.submit 'Update', class: 'btn btn-primary'
