<script language="JavaScript" src="/javascripts/autocomplete_setup.js"></script>

<h1>User Profile</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

<!-- basic info -->
<div class="dashboard_container box_shadow">
<div class="dashboard_wrapper_long">
	<div class="dashboard_container_long">
<h2>The Basics</h2>
<p>Full Name<br/>
<%= f.text_field :name %></p>
<br />
<br />
</div></div></div>
<!-- end basic info -->

<br />

<!-- courses / interests / proglangs. part of the user form. -->
<!-- #TODO: don't rip off dashboard CSS! -->
<div class="dashboard_container box_shadow">
  <div class="dashboard_wrapper_long">
	  <div class="dashboard_container_long">
      <h2>Education & Interests</h2>
      <p>Courses (please enter the names of your courses, separated by commas, e.g. CS194,CS61A):<br />
      <%= text_field :course, :name, :value => @user.course_list_of_user, :class => 'wide' %>
      </p><br />
      <p>
      Interests (Categories): <br />
      <%= text_field :category, :name, :value => @user.category_list_of_user, :class => 'wide' %>
      </p><br />
      <p>
      Programming languages in which you are proficient: <br />
      <%= text_field :proglang, :name, :value => @user.proglang_list_of_user, :class => 'wide' %>
      </p>
    </div>
  </div>
</div>
<!-- end courses -->

<br />
<p>
  <%= f.submit 'Update' %>
</p>
<br />
<% end %>

<!-- attachments -->
<div class="dashboard_container box_shadow">
<div class="dashboard_wrapper_long">
	<div class="dashboard_container_long">
	    <h2>Attachments</h2>
	    <% [ ["Resume", :resume, "You should upload one to impress the professors!"],
	         ["Transcript", :transcript, "Don't be shy! Professors want to see your classes, grades, and GPA."]
	       ].each do |item| -%>
	       <% doc = current_user.send(item[1]) -%>
	       
	        <%= item[0] %>: 
	        <!-- no document -->
	        <% if doc.nil? -%>
	            None. <%= item[2] %>
	        <!-- already has document -->
	        <% else -%>
	            <%= doc.filename %> (uploaded <%= doc.created_at.getlocal.strftime("%b %d, %Y") %>)
	            <%= button_to "Remove", {:controller => "Documents", :action => "destroy", :id => doc.id} %>
	        <% end -%>
	        <br /><br />
	    <% end -%>
	    
	    <% if current_user.resume.nil? or current_user.transcript.nil? -%>
	    <% form_for(:document, :url => documents_path, :html => {:multipart=>true}) do |f| -%>
            <%= f.file_field :uploaded_data %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <% [:resume, :transcript].each do |item| -%>
                <% if current_user.send(item).nil? -%>
                    <%= f.radio_button(:document_type, item.to_s, {:checked => "checked"} ) %>
                    <%= f.label "document_type_#{item.to_s}", item.to_s.capitalize %>
                <% end -%>
            <% end -%>
            <%= f.submit "Upload", :disable_with => "Uploading..." %>
	    <% end -%>
   	    <div id="upload_desc"><small>Note: We only accept PDF, Word, and plaintext uploads, up to 1 MB.</small></div>
  	    <% end -%>
	</div>
</div>
</div>

