<h1>User Profile</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

<!-- Basic info: i.e., email address -->
<!-- #TODO: don't rip off dashboard CSS! -->
<div class="dashboard_container">
  <div class="dashboard_wrapper_medium">
	  <div class="dashboard_container_medium box_shadow">
	    <h2>The Basics</h2>
	    <p>Name:
	      <b><%= @user.name %></b>
      </p><br />
      <p><%= label_tag 'email', 'E-mail address' %>:<br />
          <%= f.text_field :email %>
      </p>
	  </div>
  </div>
</div>

<br />

<!-- courses / interests / proglangs. part of the user form. -->
<div class="dashboard_container">
  <div class="dashboard_wrapper_medium">
	  <div class="dashboard_container_medium box_shadow">
      <h2>Education & Interests</h2>
      <p>
      Fill in the following details in order for ResearchMatch to find research positioned tailored to you.
      </p>
      <br />
      <p>Courses:<br />
      <%= text_field :course, :name, :value => @user.course_list_of_user(true), :class => 'extrawide', 
            :placeholder => "Courses you've taken, separated by commas (e.g. CS61A, EE123)" %>
      </p><br />
      <p>
      Interests (Categories): <br />
      <%= text_field :category, :name, :value => @user.category_list_of_user(true), :class => 'extrawide', 
            :placeholder => "Fields of interest, separated by commas (e.g. signal processing)" %>
      </p><br />
      <p>
      Programming Languages: <br />
      <%= text_field :proglang, :name, :value => @user.proglang_list_of_user(true), :class => 'extrawide',
            :placeholder => "Languages in which you are proficient, separated by commas" %>
      </p>
      <br />
    </div>
  </div>
</div>
<!-- end courses -->

<br />
<p>
  <%= f.submit 'Update' %>
</p>
<br />
<% end %>

<!-- attachments -->
<div class="dashboard_container">
  <div class="dashboard_wrapper_medium">
	  <div class="dashboard_container_medium box_shadow">
	      <h2>Attachments</h2>
	      <p>
	      Please upload a résumé and/or a transcript for use when applying to positions.
	      </p>
	      <br />
	      <% [ ["Résumé", :resume, "You should upload one to impress the professors!"],
	           ["Transcript", :transcript, "Don't be shy! Professors want to see your classes, grades, and GPA."]
	         ].each do |item| -%>
	         <% doc = current_user.send(item[1]) -%>
	         
	          <b><%= item[0] %>:</b> 
	          <!-- no document -->
	          <% if doc.nil? -%>
	              None. <%= item[2] %>
	          <!-- already has document -->
	          <% else -%>
	              <i><%= doc.filename %></i> (uploaded <%= doc.created_at.getlocal.strftime("%b %d, %Y") %>)
	              <%= button_to "Remove", {:controller => "Documents", :action => "destroy", :id => doc.id} %>
	          <% end -%>
	          <br /><br />
	      <% end -%>
	      
	      <% if current_user.resume.nil? or current_user.transcript.nil? -%>
	      <% form_for(:document, :url => documents_path, :html => {:multipart=>true}) do |f| -%>
              <%= f.file_field :uploaded_data %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <% [:resume, :transcript].each do |item| -%>
                  <% if current_user.send(item).nil? -%>
                      <%= f.radio_button(:document_type, item.to_s, {:checked => "checked"} ) %>
                      <%= f.label "document_type_#{item.to_s}", item.to_s.capitalize %>
                  <% end -%>
              <% end -%>
              <%= f.submit "Upload", :disable_with => "Uploading..." %>
	      <% end -%>
     	    <div id="upload_desc"><small>Note: We only accept PDF, Word, and plaintext uploads, up to 1 MB.</small></div>
    	    <% end -%>
	  </div>
  </div>
</div>

