- content_for :title, "User Profile"
.container.user-profile
  %h1= "#{@current_user.name}'s Profile"
  .card
    = form_for @current_user do |f|
      - if @current_user.errors.any?
        #error_explanation
          %h2
            Couldn't save due to #{pluralize(@current_user.errors.count, "error")}.
          %ul
            - @current_user.errors.full_messages.each do |msg|
              %li= msg
      .row
        %h2 Basic Information
        %dl.dl-horizontal
          %dt Name
          %dd= @current_user.name

          %dt Email*
          %dd= f.text_field :email, class: 'form-control'

          - if @current_user.apply?
            %dt Class of
            %dd= f.select :class_of, options_for_select((Time.now.year - 2)..(Time.now.year + 5), @current_user.class_of.present? ? @current_user.class_of : Time.now.year), {}, :id => 'right-label'

            %dt Interests
            %dd= text_field :category, :name, :value => params[:category][:name], class: 'form-control', :placeholder => "These help us match relevant projects"

            %dt Courses
            %dd= text_field :course, :name, :value => params[:course][:name], class: 'form-control', :placeholder => "Relevant courses, separated by commas"

            %dt Major
            %dd= text_field :major, :name, :value => nil, id: 'major_name', class: 'typeahead', placeholder: "Start typing your major..."
            = hidden_field_tag :major_id, params[:major_id], id: "major_id"
        = javascript_tag "var all_majors = #{ @all_majors.to_json };"
        :javascript
          $(function() {
            for (var i = 0; i < all_majors.length; i++){
              all_majors[i].label = all_majors[i].name
            }
            $("#major_name").autocomplete({
              minLength: 3,
              source: all_majors,
              select: function(event, ui) {
                $("#major_id").val(ui.item.id)
              }
            });
          });
      - if @current_user.apply?
        %hr
        .row
          %h2 In-Depth Information
          %dl.dl-horizontal
            %dt Hours per Week
            %dd= f.text_field :free_hours, :type => :number, :min => 0, :placeholder => '0', class: 'form-control'

            %dt Skills
            %dd= text_field :proglang, :name, :value => params[:proglang][:name], class: 'form-control', :placeholder => "Languages in which you are proficient, separated by commas"

            %dt Relevant experience
            %dd= f.text_area :experience, :rows => 10, :id => 'experience-box', class: 'form-control', :maxlength => 1000, :size => 1000

            %dt Link to Resume
            %dd= f.text_field :url, class: 'form-control'
      = f.submit 'Update', class: 'btn btn-primary'