<% content_for :title, "User Profile" %>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <br />
  <% end %>


<!-- Basic info: i.e., email address -->
<%# TODO: don't rip off dashboard CSS! %>
<div class="row">
  
    <h1>User Profile</h1>
    <div class="large-8 small-12 columns">
            <h2>The Basics</h2>
            <div class="large-4 small-12 columns">
              <p>Name: <b><%= @user.name %></b></p>
              <br />
              <p><%= label_tag 'email', 'E-mail address:' %><br />
                  <%= f.text_field :email %>
              </p>
            </div> <%# Left col %>
            <div class="large-4 small-12 columns">
              <% utype = @user.user_type %>
              <p>As a<%= 'n' if utype == User::Types::Undergrad %> <b><%= @user.user_type_string(:long=>true).downcase %><%= render 'shared/tooltip', :text => "Your user type was automatically determined. If it's wrong, please let us know!" %></b>, you can:
                <ul>
                <% if utype.present? && utype >= User::Types::Undergrad %>
                  <li>View listings</li>
                  <li>Watch and apply for jobs</li>
                <% end # undergrad %>
                <% if utype.present? && utype >= User::Types::Grad %>
                  <li>Post listings</li>
                  <li>Review applications</li>
                <% end # grad %>
                <% if utype.present? && utype >= User::Types::Faculty %>
                  <li>Receive applications via email</li>
                <% end # faculty %>
                <% if utype.present? && utype >= User::Types::Admin %>
                  <li>Change user roles</li>
                  <li>Upload a csv of authorized users</li>
                <% end # admin %>
                </ul>
              </p>
      </div>
  </div>

</div>
<br />

<%- unless @current_user.is_faculty? or @user.admin? -%>
<!-- courses / interests / proglangs. part of the user form. -->
<div class="row">
  <div class="large-8 small-12 columns">
          <h2>Education & Interests</h2>
          <div class='large-6 small-12 columns'>
            <p>
            The following information is optional, but will help BeeHive find positions better tailored to you.
            </p>
            <br />
            <p>Courses:<br />
            <%= text_field :course, :name, :value => params[:course][:name], :class => 'extrawide', 
                  :placeholder => "Courses you've taken, separated by commas (e.g. CS61A, EE123)" %>
            </p><br />
            <p>
            Interests (Categories): <br />
            <%= text_field :category, :name, :value => params[:category][:name], :class => 'extrawide', 
                  :placeholder => "Fields of interest, separated by commas (e.g. signal processing)" %>
            </p><br />
            <p>
            Programming Languages: <br />
            <%= text_field :proglang, :name, :value => params[:proglang][:name], :class => 'extrawide',
                  :placeholder => "Languages in which you are proficient, separated by commas" %>
            </p>
        </div>
  </div>
</div>
<%# end courses / interests / proglangs -%>
<% end %>
<br />

<%# TODO CSS this up %>
<%- unless @current_user.is_faculty? or @user.admin? -%>
<div class="row">
  <div class="large-12 small-12 columns">

          <h2>At a Glance</h2>
            <div class="large-9 small-12 columns">
              <p>
              These are the basics that faculty will want to know up-front when you apply.
              </p>
              <br/>

              

              <div class="large-3 small-3 columns">
                <p>
                  <label> Year: </label>
              
                  <%= f.select :year, options_for_select( (1..4).collect{|y| [y.ordinalize, y] }, @current_user.year), {}, :id => 'right-label' %>
                
                </p>
              <br/>
            </div>

            <div class="large-6 small-3 columns">
              <p>
              <label> Units Currently Taking: </label>
                <%= f.text_field :units, :placeholder => '0' %>
              </p>
              
            </div>

              <div class="large-5 columns">
                  <p>
                  <label> Hours of Commitment Per Week: </label>
                  <%= f.text_field :free_hours, :placeholder => '0' %>
                  </p>
              <br/><br />
               </div>

              <div class="large-8 columns">
                <p>
                Available to work over summer?
                <%= f.check_box :summer %>
                </p>
              </div>
            <br/>

              <div class="large-8 columns">
                <p>
                Why are you interested in BeeHive projects?<br/>
                <%= f.text_area :research_blurb, :rows => 3, :id => 'research-blurb' %>
                <%= render 'shared/charcounter', :linked => 'research-blurb', :limit => 255 %>
                </p>
              </div>
            <br/>

              <div class="large-8 columns">
                <p>
                Brief description of past internships or other relevant experience:
                <%= f.text_area :experience, :rows => 3, :id => 'experience-box' %>
                <%= render 'shared/charcounter', :linked => 'experience-box', :limit => 255 %>
                </p>
              </div>
         </div>
          <br/>
  </div>
</div>
<br/>
<%- end -%>

<% unless @user.is_faculty? or @user.admin? %>
<div class="row">
  <div class="large-8 small-12 columns">
          <h2>Attachments</h2>
          <p>
            Please provide a link to any relevant supplementary material, like a r&eacute;sum&eacute; or portfolio.
            This is your chance to impress the faculty!
            <br/>

          </p>
          <br/>

          <p>
          <%= f.text_field :url, :class => 'external-url', :style => 'width:100%;' %>
          </p>
          <p style="font-size:x-small;">
            If you need a place to store files, there are many free options, like
            <%= link_to 'Dropbox', 'http://dropbox.com' %> and 
            <%= link_to 'Google Docs', 'http://docs.google.com' %>.
          </p>
          <br/>
  </div>
</div>

<% end %>

<p style="text-align:center;">
  <br />
  <%= f.submit 'Update' %>
</p>
<br/>

<% end # form_for %>
