<h1>User Profile</h1>

<% form_for @user do |f| %>
  <%= f.error_messages %>

<!-- Basic info: i.e., email address -->
<%# TODO: don't rip off dashboard CSS! %>
<div class="dashboard_container">
  <div class="dashboard_wrapper_medium">
      <div class="dashboard_container_medium box_shadow" style="float:left">
        <h2>The Basics</h2>
        <div class="left_col">
          <p>Name: <b><%= @user.name %></b></p>
          <br />
          <p><%= label_tag 'email', 'E-mail address' %>:<br />
              <%= f.text_field :email %>
          </p>
        </div> <%# Left col %>
        <div class="right_col">
          <%- utype = @user.user_type -%>
          <p>As a<%= 'n' if utype == User::Types::Undergrad %> <b><%= @user.user_type_string(:long=>true).downcase %></b>, you can:
            <ul>
            <%- if utype >= User::Types::Undergrad -%>
              <li>View listings</li>
              <li>Watch and apply for jobs</li>
            <%- end # undergrad -%>
            <%- if utype >= User::Types::Grad -%>
              <li>Post listings</li>
              <li>Review applications</li>
            <%- end # grad -%>
            <%- if utype >= User::Types::Faculty -%>
              <li>Receive applications via email</li>
            <%- end # faculty -%>
            </ul>
          </p>
        </div> <%# Right col %>
      </div><%# dashboard_container_medium %>
  </div>
</div>

<br />

<!-- courses / interests / proglangs. part of the user form. -->
<div class="dashboard_container">
  <div class="dashboard_wrapper_medium">
	  <div class="dashboard_container_medium box_shadow">
      <h2>Education & Interests</h2>
      <p>
      Fill in the following details in order for ResearchMatch to find research positioned tailored to you.
      </p>
      <br />
      <p>Courses:<br />
      <%= text_field :course, :name, :value => params[:course][:name], :class => 'extrawide', 
            :placeholder => "Courses you've taken, separated by commas (e.g. CS61A, EE123)" %>
      </p><br />
      <p>
      Interests (Categories): <br />
      <%= text_field :category, :name, :value => params[:category][:name], :class => 'extrawide', 
            :placeholder => "Fields of interest, separated by commas (e.g. signal processing)" %>
      </p><br />
      <p>
      Programming Languages: <br />
      <%= text_field :proglang, :name, :value => params[:proglang][:name], :class => 'extrawide',
            :placeholder => "Languages in which you are proficient, separated by commas" %>
      </p>
      <br />
    </div>
  </div>
</div>
<!-- end courses -->

<br />
<p>
  <%= f.submit 'Update' %>
</p>
<br />
<% end %>

<!-- attachments -->
<div class="dashboard_container">
  <div class="dashboard_wrapper_medium">
	  <div class="dashboard_container_medium box_shadow">
	      <h2>Attachments</h2>
	      <p>
	      Please upload a résumé and/or a transcript for use when applying to positions.
	      </p>
	      <br />
	      <% [ ["Résumé", :resume, "You should upload one to impress the professors!"],
	           ["Transcript", :transcript, "Don't be shy! Professors want to see your classes, grades, and GPA."]
	         ].each do |item| -%>
	         <% doc = current_user.send(item[1]) -%>
	         
	          <b><%= item[0] %>:</b> 
	          <% if doc.nil? -%>
                    <!-- no document -->
                    None. <%= item[2] %>
	          <% else -%>
                    <!-- already has document -->
                    <i><%= doc.filename %></i> (uploaded <%= doc.created_at.getlocal.strftime("%b %d, %Y") %>)
                    <%= button_to "Remove", {:controller => "Documents", :action => "destroy", :id => doc.id, :confirm=>"Are you sure you want to remove your #{item[0].downcase}? This action cannot be undone.", :disable_with=>"Removing..."} %>
	          <% end -%>
	          <br /><br />
	      <% end -%>
	      
	      <% if current_user.resume.nil? or current_user.transcript.nil? -%>
	      <% form_for(:document, :url => documents_path, :html => {:multipart=>true}) do |f| -%>
              <%= f.file_field :uploaded_data %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <% [:resume, :transcript].each do |item| -%>
                  <% if current_user.send(item).nil? -%>
                      <%= f.radio_button(:document_type, item.to_s, {:checked => "checked"} ) %>
                      <%= f.label "document_type_#{item.to_s}", item.to_s.capitalize %>
                  <% end -%>
              <% end -%>
              <%= f.submit "Upload", :disable_with => "Uploading..." %>
	      <% end -%>
     	    <div id="upload_desc"><small>Note: We only accept PDF, Word, and plaintext uploads, up to 1 MB.</small></div>
    	    <% end -%>
	  </div>
  </div>
</div>

