<h1>Sign Up</h1>
<%= stylesheet_link_tag "user" %>

<% @user.password = @user.password_confirmation = nil %>

<%= image_tag "../images/new_user_steps_01.png", :border=>0 %>
<%= error_messages_for :user %>

<% form_for :user, :url => users_path do |f| -%>

<p>User type:<br />
   <%= f.radio_button :is_faculty, false, :checked => true, :onclick => 
		"Effect.SlideDown('email_field', { duration: 1.0 });
		 Effect.SlideUp('faculty_emails', { duration: 1.0 });
		 Effect.SlideDown('step2', { duration: 1.0 });" %>
   <%= f.label :is_faculty, 'Student or GSI' %><br />
   <%= f.radio_button :is_faculty, true, :onclick =>
   		"Effect.SlideUp('email_field', { duration: 1.0 });
		 Effect.SlideDown('faculty_emails', { duration: 1.0 });
		 Effect.SlideUp('step2', { duration: 1.0 });" %>
   <%= f.label :is_faculty_true, 'Faculty' %><br /><br />
   </p>

<div id='email_field'>
<p><%= label_tag 'student_email' %> (must be a valid Berkeley or LBL email address!):<br/>  
<%= f.text_field :student_email %></p>
</div>

<div id='faculty_emails' style="display: none;">
Faculty Member (Who are you?): <br />
<%= f.select :faculty_email, %w(validemail@berkeley.edu invalidemail@someaddress.erasdf.com validemail@lbl.gov), :options => {:value => ""} %>
</div>

<p>Full Name:<br/>
<%= f.text_field :name %></p>


<p><%= label_tag 'password' %>:<br/>
<%= f.password_field :password %></p>

<p><%= label_tag 'password_confirmation', 'Confirm Password' %>:<br/>
<%= f.password_field :password_confirmation %></p>


<div id="step2">

<br/><br/>
<%= submit_tag 'I\'ll fill in the rest later, sign me up now!' %>
<br/><br/>Note: The rest of this information is optional, but may increase your chances of landing a research position. Don't worry though, you can always fill it in later in Settings.

<br>
<br>

<%= image_tag "../images/new_user_steps_02.png", :border=>0 %>

<br>
//tagging stuff!
</div>

<br />
<%= submit_tag 'Submit' %>

<% end -%>
