<% content_for :title, @user.name %>

<h2><%= @user.name %></h2>
<p>
<%= @user.is_faculty ? "Faculty" : "Student" %>
</p>
<p> 

<div id="email">
  <p> Email: </p>
  <%= @user.email ||= "N/A" %> 
</div>

<div id="courses">
  <p>Courses taken: </p>
  <% @user.courses.each do |course| %>
    <o> <%= course.name %> </o>
  <% end %>
</div>

<div id="category">
  <p> Interests: </p>
  <% @user.categories.each do |category| %>
    <p> <%= category.name %> </p>
  <% end %>
</div>

<div id="proglang">
  <p> Proficient Languages: </p>
  <% @user.proglangs.each do |lang| %>
    <p> <%= lang.name  %> </p>
  <% end %>
</div>

<div id="geninfo">
  <p> Grade Level:</p>
  <p> <%= @year %> </p>
  
  <p> Units this semester:</p>
  <%= @user.units ||= "N/A" %> 

  <p> Hours free this: </p>
  <%= @user.free_hours ||= "N/A"%>

  <p> Free in the summer? </p>
  <%= @user.summer ||= "N/A" %>

  <p> Research: </p>
  <%= @user.research_blurb ||= "N/A" %>

  <p> Previous Experience: </p>
  <%= @user.experience ||= "N/A"%>

  <p> Link to Resume: </p>
  <%= link_to "Link", url_with_protocol(@user.url) %>
</div>


