<% content_for :title, @user.name %>

<div class="row">
  <h2><%= @user.name %></h2>
  <%= @user.is_faculty ? "Faculty" : "Student" %>
  <br><br>



  <div class="large-6 small-6 columns">
    <p>
    Email:
    <%= @user.email ||= "N/A" %> 
    </p>
  
    <p>
    Courses taken:
  <% @user.courses.each do |course| %>
    <o> <%= course.name %> </o>
  </p>
  <% end %>

  <p>
    Interests:
  <% @user.categories.each do |category| %>
    <p> <%= category.name %> </p>
  </p>
  <% end %>

  <p>
    Proficient Languages:
  <% @user.proglangs.each do |lang| %>
    <p> <%= lang.name  %> </p>
  <% end %>
</p>
</div>

<div class="row">
  <div class="large-6 small-6 columns">
    <p> Grade Level:
    <p> <%= @year %> </p>
    </p>

    <p> Units this semester:
    <%= @user.units ||= "N/A" %> 
    </p>

    <p> Hours free this:
    <%= @user.free_hours ||= "N/A"%>
    </p>

    <p> Free in the summer?
    <%= @user.summer ||= "N/A" %>
     </p>

    <p> Research:
    <%= @user.research_blurb ||= "N/A" %>
     </p>

    <p> Previous Experience:
    <%= @user.experience ||= "N/A"%>
     </p>

    <p> Link to Resume:
    <%= link_to "Link", url_with_protocol(@user.url) %>
     </p>
  </div>

</div>




