<% content_for :title, "Welcome" %>
<div>
    <div id="maintenance">
      <p>
        <b>ResearchMatch is currently undergoing maintenance. We apologize for the inconvenience.</b>
      </p>
    </div>
    
    <h1>Welcome</h1>
    <p>
      <b>Welcome to ResearchMatch!</b>
      This app was created by 
      <%= link_to 'UC Berkeley', 'http://berkeley.edu', :target => '_blank' %> undergraduates 
      to help other undergraduates find cool research positions more easily -- and to help 
      professors tap into a wider base of interested students. We're here 
      to help match you to your perfect research position. <br /><br />
    </p>
    
    <p>
            Choose one of the options below to get started.
    </p>
    
    <p>
        <i></i>
    </p>
</div>
<center>
<br>
<br><br>

<table id="Table_01" width="650" height="203" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="3" background="<%= image_path "research_match_display_01a.png" %>" style="background-repeat: no-repeat">
    </td>
  </tr>
  <tr>
    <td background="<%= image_path "research_match_display_02.png" %>" height="59" style="width: 308px;background-repeat: no-repeat">
      <div id="browse_listings_menu">
        <%= form_tag(:jobs, :method => "get") do %>
          <%= select_tag(:department, "<option disabled>--UC Berkeley--</option><option value='0'>All Departments</option>".html_safe + options_from_collection_for_select(@departments, :id, :name),  { :onchange => "this.form.submit();"}) %>
        <% end %>
      </div>
    </td>
    <td height="59" style="width: 342px;">
      <%= link_to image_tag("research_match_display_03a.png", :border=>0, :alt=>"Post a Job"), :controller => "jobs", :action => 'new'%>
    </td>

  </tr>
</table>
</center>
