<h1>New review</h1>

<% form_for(@review) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :faculty_name %><br />
    <%= select_tag :faculty_name, options_from_collection_for_select([Faculty.new(:name => "(Please choose a faculty member)", :id => "0")].concat(Faculty.all), :name, :name) %>
  </p>
  <p>
    <%= f.label :review_body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :rating %><br />
    
	<%= f.radio_button :rating, 3 %><%= image_tag("thumbsup.gif") %>&nbsp;
	<%= f.radio_button :rating, 2 %><%= image_tag("neutral.gif") %>&nbsp;
	<%= f.radio_button :rating, 1 %><%= image_tag("thumbsdown.gif") %>&nbsp;
	
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', reviews_path %>