<p>
  <b>User:</b>
  <%=h @review.user_id %>
</p>

<p>
  <b>Body:</b>
  <%=h @review.body %>
</p>

<p>
  <b>Rating:</b>
  <%=h @review.rating %>
</p>


<% if logged_in? && @review.user == current_user %>
	<%= link_to 'Edit', edit_review_path(@review) %> | 
<% end %>
<br />
<%= link_to 'Back', reviews_path %>