<% content_for :title, "Apply for Listing" %>

<script type='text/javascript' src="/javascripts/autocomplete_setup.js"></script>

<h1>Apply for Research Position</h1>

<p>
  To apply for the following research position, please enter a message to send to
  the faculty <%= 'sponsor'.pluralize_for @job.faculties.count %> and review the
  info that will be provided.
</p>
<br />

<% form_for(@applic, :url=>create_job_applic_path(@applic.job.id, @applic.id), :method => :post ) do |f| -%>

<%= render(:partial => "jobs/job_snippet", :job => @job ) %>
<br />
  <table class="job_clear_table">
	 
	  <tr>
		<td><b>Message to faculty <%= 'sponsor'.pluralize_for @job.faculties.count %></b></td>
		</tr>
		<tr>
		<td>
		    <%= f.text_area :message, {:rows=>12, :class => "extrawide"}%>
		</td>
	  </tr>
  </table>
  <br />
  <p>
      <h2>The Application</h2>
      By applying for this listing, you grant the faculty <%= 'sponsor'.pluralize_for @job.faculties.count %>
      (<%= @job.faculties.collect(&:name).join(', ') %>) access to view
      <%= link_to 'your profile', profile_path, :target => '_blank' %> and any information you've entered there.
      <br/>
      Please review the following information before submitting. A copy will be emailed to the faculty
      <%= 'sponsor'.pluralize_for @job.faculties.count %>.
      <br/>
      <br/>
      <%= render 'users/applic_info', :format => :html, :user => @current_user %>

  <br /><br />
  
  <%= f.submit 'Submit' %>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Cancel" onclick="location.href='<%= url_for(@job) %>'" />
  <% end # form -%>
  
<br /><br />
<%= link_to raw('&#0171; Back to listings'), jobs_path %>
