<% content_for :title, "Apply for Listing" %>

<script language="JavaScript" src="/javascripts/autocomplete_setup.js"></script>

<h1>Apply for Research Position</h1>

<% form_for(@applic, :url=>create_job_applic_path(@applic.job.id, @applic.id), :method => :post ) do |f| -%>
  <table class="job_clear_table">
	  <tr>
		<td class="job_clear_table_label">Job title</td>
		<td class="job_clear_table_field"><b><a href="<%=h url_for @job %>" target="_blank"><%= @job.title %></a></b></td>
	  </tr>
	  <tr>
		<td class="job_clear_table_label">Faculty sponsor</td>
		<td class="job_clear_table_field">
		    <b>
		        <% @job.faculties.each do |fac| %> 
                	<%= fac.name %> 
              	
              	  <a href="http://www.google.com/search?btnI=I%27m+Feeling+Lucky&ie=UTF-8&oe=UTF-8&q=<%= fac.name %> Berkeley <%= @job.department.name %>" target="_blank">
          		  		<%= image_tag(@job.department.name.downcase + "_icon.gif") %>
              		</a>
            	    
                	
            <% end # job.faculties.each %> 
    		</b>
		</td>
	  </tr>
	  <tr>
		<td class="job_clear_table_label">Message to faculty sponsor</td>
		<td class="job_clear_table_field">
		    <%= f.text_area :message, {:rows=>12, :class => "extrawide"}%>
		</td>
	  </tr>
  </table>
  <br />
  <p>
      <h2>Credentials</h2>
      <b><%= current_user.name %></b>, you have the option to supply your transcript and resume below. 
      The faculty sponsor of this job (<%= @job.faculties.collect(&:name).join(', ') %>) will receive your credentials along with your application.
      Check the box to include the document:
  </p>
  <br />
    

  <% [ ["Résumé", :resume], ["Transcript", :transcript] ].each do |docname, docsym| -%>
    <% doc = current_user.send(docsym)    -%>
    <% tagname = "include_#{docsym.to_s}" -%>
    <%= check_box_tag tagname, "1", !doc.nil?, :disabled => doc.nil? %>
    <% docstr = capture do %>
      <b><%= docname %>:</b> 
      <% if doc.nil? # no document-%>
        None.
      <% else        # has document -%>
        <i><%= doc.filename %></i> (uploaded <%= doc.created_at.getlocal.strftime("%b %d, %Y") %>)
      <% end # doc.nil -%>
    <% end # label_tag %>
    <%= label_tag tagname, docstr %>
    <br />
  <% end %>

  <br /><br />
  
  <%= f.submit('Submit') %>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Cancel" onclick="location.href='<%= url_for(@job) %>'" />
  <% end # form -%>
  
<br /><br />
<%= link_to '&#0171; Back to Listings', jobs_path %>
