<% content_for :title, "Application Details" %>

<div id="applic_show_main">
    <h1><%= @applic.job.title %></h1>
    
    <p><h3>Applicant: <%= link_to @applic.user.name, url_for(@applic.user) %></h3></p>
    <p>Date applied: <%= @applic.created_at.getlocal.pp %></p>
    
    <br />
    <p>
        Message:<br />
        <p>
        <%= @applic.message %>
        </p>
    </p>
    <br />

    <h3>Applicant Info</h3>
    <p>
      <%= render 'users/applic_info', :user => @applic.user %>
    </p>
</div>
