<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>ResearchMatch |  <%= controller.action_name %></title>
  
  <%= stylesheet_link_tag 'south-street/jquery-ui-1.8.4.custom' %>
  <%= stylesheet_link_tag 'application' %>
  
  <% c = controller.controller_name %>
  <% if c == 'jobs' or c == 'dashboard' %>
    <%= stylesheet_link_tag 'job' %>
  <% end %>
  <% if c == 'users' %>
    <%= stylesheet_link_tag 'user' %>
  <% end %>
  
  <%= javascript_include_tag "application.js" %>  
  <%= javascript_include_tag "jquery-1.4.2.min.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.4.custom.min.js" %>
  
  <% if c == 'jobs' || c == 'users' %>
    <%= javascript_include_tag "autocomplete_setup.js" %>
  <% end %>
</head> 
<body>

<div id="everything">
	<div id="header">
		<div id="header_image">
			<%= link_to "", :controller => :home %>
			
			<div id="side">
				<div id="loginbar">
					<%= render :partial => "users/user_bar" %>
				</div>
				<div id="searchbar">
					<%= render :partial => "users/search_bar" %>
				</div>
			</div>		
		</div>
	</div>
	<div id="header_tabs">
		<div id="tabs">
		    <ul>
		        <li><%= link_to "Dashboard", :controller => :dashboard %></li>		    
		        <li><%= image_tag "search_icon.png", :size => "16x16" %> <%= link_to "Browse Listings", :controller => :jobs, :action => :index %></li>
		        
		        <% if ! logged_in? || logged_in? && current_user.user_type != User::Types::Undergrad %>
  		        <li><%= image_tag "plus_icon.png", :size => "16x16" %> <%= link_to "Post a Listing", :controller => :jobs, :action => :new %></li>
		        <% end %>
		        
		        <% if logged_in? %>
    		        <li><%= link_to "Edit Profile", edit_user_url(@user) %></li>		               
		        <% end %>
		        
		    </ul>
		</div>
	</div>
	<div id="shadowdown"></div>
	
	<div id="content">
		<% if !(flash[:error].nil? || flash[:error] == '') %>
			<div id="flash_error">
				<%= flash[:error] %>
			</div>
		<% end %>
		<% if !(flash[:notice].nil? || flash[:notice] == '') %>
			<div id="flash_notice">
				<%= flash[:notice] %>
			</div>
		<% end %>
		<br />
		<div id="contentcenter">
			<%= yield %>
		</div>
				
	</div>
    
    <div id="footer">
		<div id="footer_inside">
            <i>ResearchMatch is currently in alpha and under regular development.  <a href="mailto:ucbresearchmatch@gmail.com?subject=ResearchMatch Feedback">Got feedback?</a></i>
            <br /><br />
            &copy; UC Berkeley ResearchMatch, 2009-2010. All rights reserved.
            <br />
        </div>
	</div>
</div>
</body>
</html>
